body {
    font-family: 'AppleSDGothicNeo';
    margin: 0px;
}
.calendar {
    width: 1080px;
    user-select: none;
    font-size: 28px;
}
.month {
    font-family: 'AppleSDGothicNeo';
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 36px;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    padding-top: 30px;
    margin-bottom: 10px;
    background-color: #eeeeee;
}
.month::-webkit-calendar-picker-indicator {
    position: absolute;
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
}
.days {
    display: flex;
}
.days > * {
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dates {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}
.dates::-webkit-scrollbar {
    display: none;
}
.dates > * {
    width: calc(100% / 7);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.date:nth-child(7n) {
    color:blue;
}
.date:nth-child(7n + 1) {
    color:red;
}
.date > *:nth-child(2) {
    padding-top: 10px;
    font-size: 12px;
}
.date > * {
    pointer-events: none;
}
.otherMonth {
    opacity: 0.2;
}
.selected {
    position: relative;
    color: white !important;
    opacity: 1;
}
.selected::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100px;
    height: 100px;
    background-color: #ff9191;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}